// .preface-wraper__list::before{
//    display: block;
//    content: '';
//    background-image: url(../images/description-section/quote1.png);
//    width: 20px;
//    height: 20px;
//    background-size: contain;
//    background-position: center;
//    background-repeat: no-repeat;

// }

.preface-wraper__description{
    font-family: var(--primary-font-text);
    font-weight: 400;
    color: var(--primary-text-color);
}

.preface-selected{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--selected-description-color);
    border-radius: 5px;
}

.preface-selected__description{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: #fff;
    font-family: var(--primary-font-text);
    font-weight: 400;
}

.preface-wraper__list::before{
    display: block;
    content: "";
    background-image: url(..//images/description-section/quote1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;
}



@media screen and (max-width: 694px) {
    .preface{
        padding: 30px 0;
    }


    .preface-wraper::after{
        display: block;
        content: "";
        background-image: url(../images/description-section/children.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 320px;

    }

    .preface-wraper{
        margin-bottom: 40px;
    }

    .preface-wraper__description{
        font-size: 18px;
    }

    .preface-wraper__description{
        margin-bottom: 20px;
    }
    
    
    .preface-selected{
        padding: 30px;
    }

    .preface-selected__description{
        flex-direction: column;
        text-align: center;
        font-size: 18px;
    }

    .preface-selected__description::before{
        display: block;
        content: '';
        width: 62px;
        height: 2px;
        background-image: url(../images/description-section/verticalline-mobile.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        margin-bottom: 20px;
        
    }
  }

//   ///////
@media screen and (min-width: 695px) {
    .preface{
        padding: 40px 0;
    }

    .preface-wraper::after{
        display: block;
        content: "";
        background-image: url(../images/description-section/children2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 320px;

    }

    .preface-wraper{
        margin-bottom: 70px;
    }


    .preface-wraper__description{
        margin-bottom: 20px;
    }

    .preface-wraper__description:nth-child(1){
        margin-bottom: 20px;
    }
    
    .preface-selected{
        padding: 45px;
    }

    .preface-selected__description{
        font-size: 20px;
    }

    .preface-selected__description::before{
        display: block;
        content: '';
        background-image: url(../images/description-section/verticalline-tablet.png);
        width: 3px;
        height: 102px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;   

        margin-right: 25px;
    }
  }

//   /////////

@media screen and (min-width: 1200px) {
    .preface{
        padding: 118px 0;
    }

    .preface-wraper::after{
        display: block;
        content: "";
        background-image: url(../images/description-section/children@3x.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: calc(100% - 110px);
        height: 400px;

        margin-right: 110px;

    }

    .preface-wraper{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .preface-wraper__description:nth-child(1){
        margin-bottom: 40px;
    }

    .preface-selected{
        padding: 70px 256px;
    }

    .preface-selected__description{
        font-size: 20px;
    }

  }
