.main-title{
    display: flex;
    align-items: center;
    font-family: var(--primary-font-title);
    font-weight: 700;
    font-size:20px ;
    text-transform: uppercase;

    color: var(--primary-title-color);

    margin-bottom: 40px;
}

.main-title::before{
    display: block;
    content: "";
    background-image: url(../images/icon1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    width: 30px;
    height: 30px;

    margin-right: 20px;
}


  @media screen and (min-width: 695px) {
    .main-title{
        font-size: 33px;
    }
  }

  // ////

  h3{
    font-family: var(--primary-font-title);
    font-weight: 700;
    font-size:25px ;
    text-transform: capitalize;

    color: var(--primary-title-color);

    margin-bottom: 25px;
  }

  @media screen and (min-width: 695px) {
    .h3{
        font-size: 30px;
    }
  }