:root{
    
    --primary-font-text: 'Ubuntu',
Arial,
Helvetica,
sans-serif;
--primary-font-title: 'Open Sans',
Verdana,
sans-serif;
--selected-description-color:#7550de;
--primary-text-color: #444;
--primary-title-color: #272727;
--primary-bgcolor: #fafafa;
--accent-color: #fcae26;
--footer-bgcolor: #222;
--footer-bar-bgcolor: #151515;
--nav-text-color: #fff;
}