<section class="directions">
    <div class="container">
        <h2 class="main-title">
            напрямки goiteens
        </h2>
        <ul
        class="direcion-list">
          <li class="direcion-list__item">
            <h3 class="direcion-list__title">front-end</h3>
            <p class="direcion-list__description list__description">Створення веб-сайтів будь-якої складності</p>
            <p class="direcion-list__age">13-15 <b>років</b></p>
          </li>
          <li class="direcion-list__item">
            <h3 class="direcion-list__title">game dev</h3>
            <p class="direcion-list__description list__description">Розробка власних комп’ютерних ігор</p>
            <p class="direcion-list__age">13-15 <b>років</b></p>
          </li>
          <li class="direcion-list__item">
            <h3 class="direcion-list__title">smart design</h3>
            <p class="direcion-list__description list__description">Опанування графічними редакторами</p>
            <p class="direcion-list__age">13-15 <b>років</b></p>
          </li>
          <li class="direcion-list__item">
            <h3 class="direcion-list__title">goStarts kids</h3>
            <p class="direcion-list__description list__description">Мета: Вивчення базових технологій</p>
            <p class="direcion-list__age">11-13 <b>років</b></p>
          </li>
        </ul>
    </div>
</section>