<footer>
    <div class="footer-top">
       <div class="container">
        <a href="#" class="logo footer-logo"></a>
        <div class="footer-top__card">
            <div class="contact-card">
                <a href="#" class="contacts-link">
                    01133 Україна, Київ<br>
                    5 хвилин від м. Печерська<br>
                    бул. Лесі Українки 26<br>
                    4-й поверх
                </a>
    
                <ul class="contacts-list">
                    <li class="contacts-list__item"><a href="#" class="contacts-link">contact@goiteens.ua</a></li>
                    <li class="contacts-list__item"><a href="#" class="contacts-link">+38 093 343 21 27</a></li>
                    <li class="contacts-list__item"><a href="#" class="contacts-link">+38 067 326 95 92</a></li>
                    <li class="contacts-list__item"><a href="#" class="contacts-link">+38 050 366 17 77</a></li>
                </ul>
            </div>
    
            <div class="social-card">
                <button class="submit-application">зaлишити заявку</button>
    
                <ul class="social-list">
                    <li class="social-list__item"><a href="#" class="social-list__link">a</a></li>
                    <li class="social-list__item"><a href="#" class="social-list__link">a</a></li>
                    <li class="social-list__item"><a href="#" class="social-list__link">a</a></li>
                </ul>
            </div>
        </div>
       </div>
    </div>
    <div class="footer-bottom">
       <div class="container">
        <ul class="legal-information">
            <li class="legal-information__item"><a href="#" class="legal-information__link">Політика конфіденційності</a></li>
            <li class="legal-information__item"><a href="#" class="legal-information__link">Відмова від відповідальності</a></li>
            <li class="legal-information__item"><a href="#" class="legal-information__link">Згода з розсилкою</a></li>
        </ul>
       </div>
    </div>
</footer>