 
    <nav class="nav">
        <a class="logo"></a>
        <div class="header__modal">
            <ul class="site-nav">
                <li class="site-nav__item"><a href="" class="site-nav__link">front-end</a></li>
                <li class="site-nav__item"><a href="" class="site-nav__link">game dev</a></li>
                <li class="site-nav__item"><a href="" class="site-nav__link">smart design</a></li>
                <li class="site-nav__item"><a href="" class="site-nav__link">goStar kids</a></li>
                <li class="site-nav__item"><a href="" class="site-nav__link">вакансії</a></li>
                <li class="site-nav__item"><a href="" class="site-nav__link">контакти</a></li>
                <li class="site-nav__item"><a href="" class="site-nav__link submit-application ">Залишити заявку</a></li>
            </ul>
        </div>
        <button class="close-modal">+</button>
        <button class="burger"></button>
       </nav>
   
