<section class="preface">
    <div class="container">
        <h2 class="visually-hidden">Наші аргументи</h2>
        <div class="preface-wraper">
            <div class="preface-wraper__list">
                <p class="preface-wraper__description">За останні 5 років кількість дітей, які вміють користуватися комп'ютером, збільшилася приблизно в 10 разів. 
                </p>
                <p class="preface-wraper__description">Як зазначає більшість дослідників, 
                    ці тенденції будуть прискорюватися 
                    незалежно від шкільної освіти. </p>
            </div>
        </div>
        <div class="preface-selected">
            <p class="preface-selected__description">
                Програма навчання створюється за участі відомих спеціалістів 
                IT сектору, успішних стартаперів, бізнес-тренерів 
                і підліткових психологів
            </p>
        </div>
    </div>
</section>