<section class="structure">
    <div class="container">
        <h2 class="main-title structure-title">структура навчання</h2>
        <ul class="structure-list">
            <li class="structure-list__item tech-skilss">
               <div class="">
                <h3 class="structure-list__title">1.tech skilss</h3>
                <p class="list__description">Освоєння технічних навичок, вивчення різних мов кодування.</p>
               </div>
            </li>
            <li class="structure-list__item soft-skilss">
                <div class="">
                    <h3 class="structure-list__title">2.soft skilss</h3>
                    <p class="list__description">Self-building.
                        Time Management.
                        Effective Communication</p>
                </div>
            </li>
            <li class="structure-list__item it-english">
                <div class="">
                    <h3 class="structure-list__title">IT english</h3>
                <p class="list__description">Вивчення розмовної 
                    англійської за допомогою
                    Speaking Club.</p>
                </div>
            </li>
            <li class="structure-list__item hakaton">
                <div class="">
                    <h3 class="structure-list__title">хакатаон</h3>
                <p class="list__description">Дводенний Frontend
                    марафон.</p>
                </div>
            </li>
        </ul>
    </div>
</section>    